.messages {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.messageField {
    color: black;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px;
    background-color: rgba(253,187,45,0.2);
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.messageItemMe {
    align-self: flex-start;

}

.messageItemOther {
    align-self: flex-end;
}