.sendMessageBtn button {
    background-color: rgb(185, 138, 230);
    border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
}

.form {
    padding: 5px;
}

.errorMsg {
    color: rgb(179, 5, 34);
    text-shadow:  white 1px 0 15px;
}

